body {
	margin: 0;
	font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 100;
	color: rgba(0, 0, 0, 0.87);
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}
header {
	height: 101px;
	z-index: 10;
	box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
	position: relative;
}
a {
	color: black;
}
.header-container {
	font-size: 13px;
	max-width: 1271px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.header-container .left-nav {
	float: left;
}
.header-container .right-nav {
	float: right;
}

.logo {
	height: 90px;
	width: 90px;
}
.logo img {
	height: 100%;
}

.left-nav {
	display: flex;
	height: 100%;
	align-items: center;
	font-weight: bold;
}

.left-nav nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.left-nav nav ul li {
	text-transform: uppercase;
	padding-left: 24px;
	letter-spacing: 0.1em;
	font-weight: 700;
	cursor: pointer;
}
.left-nav nav ul li:hover {
	color: #008248;
}

.right-nav {
	display: flex;
	height: 100%;
	align-items: center;
	font-weight: bold;
}

.find-store {
	display: flex;
	align-items: center;
	margin-right: 40px;
	font-weight: 600;
}
.find-store:hover {
	color: #008248;
}

.find-store i {
	padding-right: 8px;
	font-size: 24px;
}
.find-store i:hover {
	font-weight: 600;
	color: #008248;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.sign-in,
.join-now {
	background: none;
	border: 1px solid;
	border-radius: 50px;
	padding: 7px 16px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	transition: all 0.2s ease;
	cursor: pointer;
}

.sign-in {
	margin-right: 16px;
}
.sign-in:hover {
	background-color: rgba(0, 130, 72, 0.08);
	transition: all 0.2s ease;
}

.join-now {
	background: black;
	border: 1px solid black;
	color: white;
	transition: all 0.2s ease;
}

.join-now:hover {
	background-color: rgba(0, 0, 0, 0.7);
	border-color: rgba(0, 0, 0, 0.7);
}

/* @media only screen and (max-width:870px){

  .header-container .left-nav{
    float: none;
    flex-direction: column;
    align-items: flex-start;
    /* display: block; */
/* text-align: left; */

/* } */
/* .header-container .right-nav{ */
/* float: none; */
/* display: block; */
/* text-align: left; */
/* }
/* } */
